$primary-color: #337ab7;

.errors {
  color: red;
  font-weight: bold;
}

.directions {
  font-size: medium;
  color: $primary-color;
}

.search {
  border-bottom-style: groove;
  width: 100%;
}

.btn-adjust {
  margin-top: 10px;
}

.gif {
  margin-top: -80px;
}

.search-history {
  text-align: center;
  text-decoration: underline;
}

.history-panel {
  border: solid;
  background-color: lightblue;
}
