<div class="container">
  <h1>City Weather</h1>
  <p>Search for a city, anywhere in the world to find today's weather.</p>
  <div class="row">
    <%= form_for @weather do |f| %>
    <div class="col-md-4">
      <div class="form-group">
        Search A City: <%= f.text_field :search_term %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.submit "Search", class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
